html, body {
  width: 100%;
  height: 100%;
}

.center_div{
  padding: 5%;
  margin: 0 auto;
  width: 60%;
}

.links {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.right_sided {
  margin-left: 83%;
}

.form-control-plaintext {
  font-size: large !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white !important;
}

.userlist {
  margin-top: 10px;
}

.list_group {
  max-height: 400px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.user_login {
  margin-top: 20%;
}