* {
  margin: 0px;
  padding: 0px;
}

body, html {
  height: 100%;
}

.background {
  height: 100vh;
  padding: 10% 35% 0 35%;
  background-image: url('../../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.center-div{
  padding: 5%;
  margin: 0 auto;
  width: 60%;
}

.links {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.right-sided {
  position: relative;
  float: right;
}

.form-control-plaintext {
  font-size: large !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white !important;
}

.user-list {
  margin-top: 10px;
}

.list-group {
  max-height: 400px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.user-login {
  background-color: white;
  padding: 5%;
  border-radius: 12px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.icon_border {
  border-top-left-radius: 12px;
}

.btn_edit{
  float: right;
  padding: 2px 10px;
  height: 35px;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  transition: .25s;
}

.btn_edit:hover:enabled {
  background-color: rgb(224, 224, 224);
  transform: scale(1.1);
  transition: .25s;
}